URxvt.font: xft:Source Code Pro Semibold:size=10,xft:DejaVu Sans Mono:size=10
URxvt.italicFont: xft:Source Code Pro Semibold:size=10:Italic,xft:DejaVu Sans Mono:size=10
URxvt.boldFont: xft:Source Code Pro Black:size=10,xft:DejaVu Sans Mono:size=10
URxvt.boldItalicFont: xft:Source Code Pro Semibold:size=10:Bold:Italic,xft:DejaVu Sans Mono:size=10

URxvt.scrollBar: false

URxvt*internalBorder: 0
URxvt*externalBorder: 0

URxvt.iso14755: false

URxvt.perl-ext-common: default,matcher,selection-to-clipboard,pasta
URxvt.urlLauncher: google-chrome
URxvt.matcher.button: 1
URxvt.clipboard.autocopy: true
URxvt.keysym.Control-Shift-V: perl:pasta:paste

URxvt.depth: 32
URxvt.background: [70]#0f0f0f
! Set default foreground to a light color
URxvt.foreground: #ffffff

URxvt.letterSpace: -1

Xcursor.theme: Vanilla-DMZ

/* #include "./base16-xresources/xresources/base16-eighties-256.Xresources" */

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #a01c1c1c, #a01c1c1c, #ff606060
rofi.color-normal: #00000000, #dadada, #00000000, #e4e4e4, #1c1c1c
rofi.color-active: #00000000, #5f87df, #00000000, #5f87df, #1c1c1c
rofi.color-urgent: #00000000, #df5f5f, #00000000, #df5f5f, #1c1c1c
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.lines: 5
rofi.fuzzy: true
rofi.terminal: urxvt
rofi.ssh-client: mosh
rofi.parse-hosts: true
rofi.font: Source Sans Pro Semibold 14
